<html ng-app="indexApp">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="jumbotron">
    <h1>ASP.NET</h1>
</div>
<div class="row" ng-controller="UserController">
    <div class="col-md-4">
        <div>
            <h3>@ViewBag.Title</h3>
        </div>
        <button type="submit" ng-click="GetResearches()" class="btn btn-success">Get</button>
    </div>
    <div ng-repeat="item in list">
        <div>Ответ:</div>
        <p>{{item.Name}}</p>
        <p>{{item.Description}}</p>
        <p>{{item.CurentState}}</p>
    </div>
</div>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/IndexModules/IndexController.js"></script>
</body>
</html>
